<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2024-09-23 00:00:00</td>
      <td>qwe</td>
      <td>rings</td>
      <td>18</td>
      <td>72500</td>
      <td>5</td>
      <td>35000</td>
    </tr>
    <tr>
      <th>0</th>
      <td>2024-09-23 00:00:00</td>
      <td>qwe</td>
      <td>ringss</td>
      <td>18</td>
      <td>72500</td>
      <td>5</td>
      <td>35000</td>
    </tr>
  </tbody>
</table>